body {
  font-family: Arial, sans-serif;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

h1 {
  color: red;
  margin-bottom: 20px;
}

#timer {
  font-size: 48px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons button {
  background-color:red;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.buttons button:hover {
  background-color: red;
}

.buttons button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
